
BasicGitMCC58/.vs/BasicGitMCC58/v16/.suo
BasicGitMCC58/BasicGitMCC58/bin/Debug/netcoreapp3.1/BasicGitMCC58.deps.json
BasicGitMCC58/BasicGitMCC58/bin/Debug/netcoreapp3.1/BasicGitMCC58.exe
BasicGitMCC58/BasicGitMCC58/bin/Debug/netcoreapp3.1/BasicGitMCC58.dll
BasicGitMCC58/BasicGitMCC58/bin/Debug/netcoreapp3.1/BasicGitMCC58.pdb
BasicGitMCC58/BasicGitMCC58/bin/Debug/netcoreapp3.1/BasicGitMCC58.runtimeconfig.dev.json
BasicGitMCC58/BasicGitMCC58/bin/Debug/netcoreapp3.1/BasicGitMCC58.runtimeconfig.json
BasicGitMCC58/BasicGitMCC58/obj/Debug/netcoreapp3.1/apphost.exe
BasicGitMCC58/BasicGitMCC58/obj/Debug/netcoreapp3.1/BasicGitMCC58.csproj.CoreCompileInputs.cache
BasicGitMCC58/BasicGitMCC58/obj/Debug/netcoreapp3.1/BasicGitMCC58.csproj.FileListAbsolute.txt
BasicGitMCC58/BasicGitMCC58/obj/Debug/netcoreapp3.1/BasicGitMCC58.dll
BasicGitMCC58/BasicGitMCC58/obj/Debug/netcoreapp3.1/BasicGitMCC58.genruntimeconfig.cache
BasicGitMCC58/BasicGitMCC58/obj/Debug/netcoreapp3.1/BasicGitMCC58.pdb
BasicGitMCC58/.vs/BasicGitMCC58/v16/.suo
